
<div class="introductionDiv">
<div class="karantina-regular intro-heading">
  WHO IS SULAV ? 
</div>

<p class="karantina-regular intro-text">
  TECH EXPLORER | .NET | AR + AI | UI/UX |
  <br />
  <br />
  BLENDING DESIGN, DEVELOPMENT, AND AI, I CRAFT SEAMLESS UI/UX, BUILD FULL-STACK .NET SOLUTIONS, AND EXPLORE AR + AI INNOVATIONS. FROM E-COMMERCE INTERFACES TO MACHINE LEARNING MODELS, I THRIVE ON TURNING IDEAS INTO REALITY. CURRENTLY WORKING ON AN AR-BASED TOURIST GUIDE FOR NEPAL  !
  <br />
  <br />
  LET’S INNOVATE AND CREATE! ✨
</p>

</div>
