/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FFF6E1;
  margin: 0px;
  outline : none;
}

.karantina-light {
  font-family: "Karantina", serif;
  font-weight: 300;
  font-style: normal;
}

.karantina-regular {
  font-family: "Karantina", serif;
  font-weight: 400;
  font-style: normal;
}

.karantina-bold {
  font-family: "Karantina", serif;
  font-weight: 700;
  font-style: normal;
}
.example::-webkit-scrollbar {
  display: none;
}
p{
    outline : none;
}
